<template>
  <div>
    <Head title="Edit - Article" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Article" sub-title="Article page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader
            title="Edit Article"
            to="/article/post"
            button-text="back"
          />
          <v-card-text>
            <v-alert
              class="mt-5"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >

            <v-alert
              class="mt-5"
              color="red"
              type="error"
              v-if="formError"
              v-html="formError"
            ></v-alert>

            <v-alert class="mt-5" color="red" v-if="formErrorInput.length">
              <div class="title">Failed</div>
              <ul>
                <li v-for="error in formErrorInput" :key="error">
                  {{ error }}
                </li>
              </ul>
            </v-alert>

            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              ref="form"
              enctype="multipart/form-data"
            >
              <v-tabs v-model="tab" dark>
                <v-tabs-slider></v-tabs-slider>

                <v-tab to="#article"> Article </v-tab>

                <v-tab to="#content"> Content </v-tab>

                <v-tab to="#publish"> Publish </v-tab>
              </v-tabs>
              <v-tabs-items v-model="tab" class="pb-10">
                <v-tab-item :key="1" value="article" class="mt-5">
                  <v-row>
                    <v-col cols="12" md="6" class="pb-0 pb-md-3">
                      <v-text-field
                        outlined
                        v-model="article.title"
                        label="Title"
                        :rules="[rules.required]"
                      ></v-text-field>
                      <v-select
                        :items="item_category"
                        item-text="name"
                        item-value="id"
                        outlined
                        v-model="article.id_category"
                        label="Category"
                        :rules="[rules.required]"
                      ></v-select>
                      <v-select
                        v-model="article.tag"
                        :items="item_tag"
                        item-text="name"
                        item-value="id"
                        label="Tag"
                        multiple
                        chips
                        persistent-hint
                        outlined
                      ></v-select>
                    </v-col>
                    <v-col cols="12" md="6" class="pt-0 pt-md-3">
                      <v-file-input
                        @change="onAddFiles"
                        v-model="article.image"
                        show-size
                        outlined
                        accept="image/png, image/jpeg, image/jpg"
                        label="Image"
                        prepend-icon="mdi-camera"
                      ></v-file-input>
                      <v-card outlined>
                        <div class="d-flex justify-center">
                          <div class="d-flex flex-column">
                            <img
                              alt="image"
                              :src="image"
                              style="max-width: 300px; width: 100%"
                            />
                          </div>
                        </div> </v-card></v-col
                  ></v-row>
                </v-tab-item>
                <v-tab-item :key="2" value="content" class="mt-5">
                  <Editor v-model="article.content" />
                </v-tab-item>
                <v-tab-item :key="3" value="publish" class="mt-5">
                  <v-select
                    :items="item_status"
                    item-text="name"
                    item-value="id"
                    outlined
                    v-model="article.status"
                    label="Status"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-datetime-picker
                    label="Published At"
                    v-model="article.published_at"
                    dateIcon="mdi-calendar"
                    :textFieldProps="textFieldProps"
                    :datePickerProps="datePickerProps"
                  >
                    <template slot="dateIcon">
                      <v-icon>mdi-calendar</v-icon>
                    </template>
                    <template slot="timeIcon">
                      <v-icon>mdi-clock</v-icon>
                    </template>
                  </v-datetime-picker>
                </v-tab-item>
              </v-tabs-items>

              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {
  UPLOAD_ARTICLE,
  STATUS_POST,
  STATUS_POST_BY_LABEL,
} from '@/utils/constants'
import '@/mixins/general'
export default {
  data() {
    return {
      menu: false,
      textFieldProps: {
        outlined: true,
      },
      datePickerProps: {
        color: 'blue',
      },
      tab: 'article',
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formErrorInput: [],
      formError: null,
      formSuccess: null,
      article: {
        title: null,
        content: null,
        id_category: null,
        image: null,
        status: null,
        published_at: null,
        tag: null,
      },
      item_category: [],
      item_tag: [],
      item_status: [],
      image: null,
    }
  },
  mounted() {
    this.item_status = STATUS_POST
    this.getArticle(this.$route.params.id)
    this.getCategory()
    this.getTag()
  },
  created() {},
  methods: {
    onAddFiles(files) {
      this.article.image = files
    },
    async getTag() {
      await this.$store.dispatch('tag-article/list')
      let response = this.$store.getters['tag-article/getTag'].tag

      this.item_tag = response
    },
    async getCategory() {
      await this.$store.dispatch('category-article/list')
      let response = this.$store.getters['category-article/getCategory']
        .category

      this.item_category = response
    },
    async getArticle(id) {
      try {
        await this.$store.dispatch('article/detail', {
          id: id,
        })

        let response = this.$store.getters['article/getDetail'].article
        let tag = this.$store.getters['article/getDetail'].tag

        let tagArr = []
        for (let val in tag) {
          tagArr.push(tag[val].id_tag)
        }

        this.article.tag = tagArr

        let published_at =
          response.published_at !== null
            ? this.dateFull(response.published_at, 'yyyy-MM-DD hh:mm')
            : null

        this.article.title = response.title
        this.article.content =
          response.content === 'null' ? null : response.content
        this.article.id_category = response.id_category
        this.article.status = response.status
        this.article.published_at = published_at

        this.image =
          this.$axios.defaults.baseURL + UPLOAD_ARTICLE + response.image
      } catch (e) {
        console.log(e)
      }
    },
    customValidate() {
      this.formErrorInput = []
      if (this.article.status === STATUS_POST_BY_LABEL['Publish']) {
        let error = false

        for (let item in this.article) {
          if (item !== 'image' && item !== 'tag') {
            if (
              this.article[item] === null ||
              this.article[item] === '<p></p>'
            ) {
              error = true
              this.formErrorInput.push(this.strHumanize(item) + ' Required')
            }
          }
        }

        if (error) {
          this.formSuccess = ''
          this.formError = ''
          this.$vuetify.goTo(0)

          return false
        }
      }

      return true
    },
    async update() {
      try {
        if (this.$refs.form.validate() && this.customValidate()) {
          this.$nuxt.$loading.start()

          // console.log(this.article)

          // this.$nuxt.$loading.finish()
          // return

          const formData = new FormData()

          let published_at = this.article.published_at
            ? this.dateFull(this.article.published_at)
            : null

          var tag = null

          if (this.article.tag != null && this.article.tag.length > 0) {
            tag = JSON.stringify(this.article.tag)
          }

          formData.append('title', this.article.title)
          formData.append('id_category', this.article.id_category)
          formData.append('tag', tag)
          formData.append('content', this.article.content)
          formData.append('image', this.article.image)
          formData.append('status', this.article.status)
          formData.append('published_at', published_at)

          await this.$store.dispatch('article/update', {
            id: this.$route.params.id,
            data: formData,
          })

          const data = this.$store.getters['article/getUpdate']

          console.log(data)

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.article.image = null
            this.image =
              this.$axios.defaults.baseURL + UPLOAD_ARTICLE + data.data.image
          } else {
            throw new Error(data.message)
          }

          this.$vuetify.goTo(0)

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>