<template>
  <div>
    <Head title="Edit - Event" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Event" sub-title="Event page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Edit Event" to="/event/post" button-text="back" />
          <v-card-text>
            <v-alert
              class="mt-5"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >

            <v-alert
              class="mt-5"
              color="red"
              type="error"
              v-if="formError"
              v-html="formError"
            ></v-alert>

            <v-alert class="mt-5" color="red" v-if="formErrorInput.length">
              <div class="title">Failed</div>
              <ul>
                <li v-for="error in formErrorInput" :key="error">
                  {{ error }}
                </li>
              </ul>
            </v-alert>
            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              ref="form"
              enctype="multipart/form-data"
            >
              <v-tabs v-model="tab" dark>
                <v-tabs-slider></v-tabs-slider>

                <v-tab to="#event"> Event </v-tab>

                <v-tab to="#content"> Content </v-tab>

                <v-tab to="#publish"> Publish </v-tab>
              </v-tabs>
              <v-tabs-items v-model="tab" class="pb-10">
                <v-tab-item :key="1" value="event" class="mt-5">
                  <v-row>
                    <v-col cols="12" md="6" class="pb-0 pb-md-3">
                      <v-text-field
                        outlined
                        v-model="event.title"
                        label="Title"
                        :rules="[rules.required]"
                      ></v-text-field>

                      <v-select
                        :items="item_category"
                        item-text="name"
                        item-value="id"
                        outlined
                        v-model="event.id_category"
                        label="Kategori"
                        :rules="[rules.required]"
                      ></v-select>
                      <v-datetime-picker
                        label="Dari Tanggal"
                        v-model="event.date_start"
                        dateIcon="mdi-calendar"
                        :textFieldProps="textFieldProps"
                        :datePickerProps="datePickerProps"
                      >
                        <template slot="dateIcon">
                          <v-icon>mdi-calendar</v-icon>
                        </template>
                        <template slot="timeIcon">
                          <v-icon>mdi-clock</v-icon>
                        </template>
                      </v-datetime-picker>
                      <v-datetime-picker
                        label="Sampai Tanggal"
                        v-model="event.date_end"
                        dateIcon="mdi-calendar"
                        :textFieldProps="textFieldProps"
                        :datePickerProps="datePickerProps"
                        dateFormat="yyyy-MM-dd"
                        timeFormat="HH:mm"
                      >
                        <template slot="dateIcon">
                          <v-icon>mdi-calendar</v-icon>
                        </template>
                        <template slot="timeIcon">
                          <v-icon>mdi-clock</v-icon>
                        </template>
                      </v-datetime-picker>
                    </v-col>
                    <v-col cols="12" md="6" class="pt-0 pt-md-3">
                      <v-text-field
                        outlined
                        v-model="event.location"
                        label="Lokasi"
                        :rules="[rules.required]"
                      ></v-text-field>

                      <v-file-input
                        @change="onAddFiles"
                        show-size
                        outlined
                        accept="image/png, image/jpeg, image/jpg"
                        label="Gambar"
                        prepend-icon="mdi-camera"
                      ></v-file-input>
                      <v-card outlined>
                        <div class="d-flex justify-center">
                          <div class="d-flex flex-column">
                            <img
                              alt="image"
                              :src="image"
                              style="max-width: 300px; width: 100%"
                            />
                          </div>
                        </div>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-tab-item>
                <v-tab-item :key="2" value="content" class="mt-5">
                  <Editor v-model="event.content" />
                </v-tab-item>
                <v-tab-item :key="3" value="publish" class="mt-5">
                  <v-select
                    :items="item_status"
                    item-text="name"
                    item-value="id"
                    outlined
                    v-model="event.status"
                    label="Status"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-datetime-picker
                    label="Published At"
                    v-model="event.published_at"
                    dateIcon="mdi-calendar"
                    :textFieldProps="textFieldPropsNoValidate"
                    :datePickerProps="datePickerProps"
                  >
                    <template slot="dateIcon">
                      <v-icon>mdi-calendar</v-icon>
                    </template>
                    <template slot="timeIcon">
                      <v-icon>mdi-clock</v-icon>
                    </template>
                  </v-datetime-picker>
                </v-tab-item>
              </v-tabs-items>

              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {
  UPLOAD_EVENT,
  STATUS_POST,
  STATUS_POST_BY_LABEL,
} from '@/utils/constants'
import '@/mixins/general'
export default {
  data() {
    return {
      tab: 'event',
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formErrorInput: [],
      formError: null,
      formSuccess: null,
      event: {
        title: null,
        content: null,
        id_category: null,
        image: null,
        location: null,
        date_start: null,
        date_end: null,
        status: null,
        published_at: null,
      },
      item_category: [],
      item_status: [],
      textFieldPropsNoValidate: {
        outlined: true,
      },
      textFieldProps: {
        outlined: true,
        rules: [(value) => !!value || 'Required.'],
      },
      datePickerProps: {
        color: 'blue',
      },
      image: null,
    }
  },
  mounted() {
    this.item_status = STATUS_POST
    this.getEvent(this.$route.params.id)
    this.getCategory()
  },
  created() {},
  methods: {
    onAddFiles(files) {
      this.event.image = files
    },
    async getCategory() {
      await this.$store.dispatch('category-event/list')
      let response = this.$store.getters['category-event/getCategory'].category

      this.item_category = response
    },
    async getEvent(id) {
      try {
        await this.$store.dispatch('event/detail', {
          id: id,
        })

        let response = this.$store.getters['event/getDetail'].event

        let date_start = this.dateFull(response.date_start, 'yyyy-MM-DD hh:mm')
        let date_end = this.dateFull(response.date_end, 'yyyy-MM-DD hh:mm')

        let published_at =
          response.published_at !== null
            ? this.dateFull(response.published_at, 'yyyy-MM-DD hh:mm')
            : null

        this.event.title = response.title
        this.event.content =
          response.content === 'null' ? null : response.content
        this.event.id_category = response.id_category
        this.event.status = response.status
        this.event.date_start = date_start
        this.event.date_end = date_end
        this.event.location = response.location
        this.event.published_at = published_at

        this.image =
          this.$axios.defaults.baseURL + UPLOAD_EVENT + response.image
      } catch (e) {
        console.log(e)
      }
    },
    customValidate() {
      this.formErrorInput = []
      if (this.event.status === STATUS_POST_BY_LABEL['Publish']) {
        let error = false

        for (let item in this.event) {
          if (item !== 'image') {
            if (this.event[item] === null || this.event[item] === '<p></p>') {
              error = true
              this.formErrorInput.push(this.strHumanize(item) + ' Required')
            }
          }
        }

        if (error) {
          this.formSuccess = ''
          this.formError = ''
          this.$vuetify.goTo(0)

          return false
        }
      }
      return true
    },
    async update() {
      try {
        if (this.$refs.form.validate() && this.customValidate()) {
          this.$nuxt.$loading.start()

          let date_start = this.dateFull(this.event.date_start)
          let date_end = this.dateFull(this.event.date_end)

          // console.log([date_start, date_end])

          const formData = new FormData()

          let published_at = this.event.published_at
            ? this.dateFull(this.event.published_at)
            : null

          formData.append('title', this.event.title)
          formData.append('id_category', this.event.id_category)
          formData.append('content', this.event.content)
          formData.append('image', this.event.image)
          formData.append('location', this.event.location)
          formData.append('date_start', date_start)
          formData.append('date_end', date_end)
          formData.append('status', this.event.status)
          formData.append('published_at', published_at)

          await this.$store.dispatch('event/update', {
            id: this.$route.params.id,
            data: formData,
          })

          const data = this.$store.getters['event/getUpdate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.event.image = null
            this.image =
              this.$axios.defaults.baseURL + UPLOAD_EVENT + data.data.image
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>