<template>
  <div>
    <Head title="Tag Article" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Tag Article" sub-title="Tag Article page" />
      </v-col>
      <v-col cols="12">
        <v-card>
          <CardHeader
            title="List Tag Article"
            to="/article/tag/create"
            button-text="create"
            button-icon="mdi-plus"
          />

          <v-card-text>
            <v-alert color="green" type="success" v-if="formSuccess">{{
              formSuccess
            }}</v-alert>
            <v-alert color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>

            <v-text-field
              label="Search by name or status..."
              class="pa-0 mt-0 mb-3"
              v-model="search"
              append-icon="mdi-magnify"
              single-line
              hide-details
              outlined
            ></v-text-field>

            <v-data-table
              :search="search"
              :headers="headers"
              :items="tag"
              :items-per-page="3"
              :footer-props="{
                itemsPerPageOptions: [20, 50, 100, -1],
              }"
            >
              <template v-slot:[`item.status`]="{ item }">
                <v-chip :color="getStatus(item.statusById).class">
                  {{ item.status }}
                </v-chip>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="edit(item.id)"
                  >mdi-pencil</v-icon
                >
                <v-icon small @click="dialogDelete(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"> Confirmation </v-card-title>

        <v-card-text> Want to delete? </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="dialog = false">
            Cancel
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteData(tempId)">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import '@/mixins/general'

export default {
  middleware: ['auth'],
  data() {
    return {
      search: '',
      headers: [
        { text: 'Name', align: 'start', sortable: true, value: 'name' },
        { text: 'Status', value: 'status', sortable: true },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false,
          filterable: false,
        },
      ],
      tag: [],
      dialog: false,
      tempId: null,
      formError: null,
      formSuccess: null,
    }
  },
  methods: {
    async retrieveTag() {
      await this.$store.dispatch('tag-article/list')
      var response = this.$store.getters['tag-article/getTag'].tag

      this.tag = response.map(this.getDisplayTag)
    },
    getDisplayTag(data) {
      return {
        id: data.id,
        name: data.name,
        status: this.getStatus(data.status).text,
        statusById: data.status,
      }
    },
    refreshList() {
      this.retrieveTag()
    },
    edit(id) {
      this.$router.push({
        name: 'article-tag-edit-id',
        params: { id: id },
      })
    },
    dialogDelete(id) {
      this.dialog = true
      this.tempId = id
    },
    async deleteData(id) {
      try {
        this.$nuxt.$loading.start()

        await this.$store.dispatch('tag-article/delete', { id: id })

        const data = this.$store.getters['tag-article/getDelete']

        if (data.success === true) {
          this.formError = ''
          this.formSuccess = data.message
          this.$vuetify.goTo(0)
          this.dialog = false
          this.refreshList()
        } else {
          throw new Error(data.message)
        }

        this.$nuxt.$loading.finish()
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
  mounted() {
    this.retrieveTag()
  },
}
</script>