<template>
  <section>
    <v-text-field
      v-model="password"
      label="Password"
      name="password"
      prepend-icon="mdi-lock"
      type="password"
      :rules="passwordRules"
    />

    <v-text-field
      v-model="confirmPassword"
      label="Confirm Password"
      name="confirmPassword"
      prepend-icon="mdi-lock"
      type="password"
      :rules="confirmPasswordRules"
    />

    <v-tabs v-model="tab">
      <v-tabs-slider color="yellow"></v-tabs-slider>

      <v-tab v-for="item in items" :key="item">
        {{ item }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item v-for="item in items" :key="item">
        <v-card flat>
          <v-card-text v-text="text"></v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>

    <h1 class="display-1">Tiptap Vuetify</h1>

    <v-alert type="info">
      This's an example of how to use with Nuxt.js
    </v-alert>

    <Editor />
  </section>
</template>

<script>
export default {
  data() {
    return {
      tab: null,
      items: ['web', 'shopping', 'videos', 'images', 'news'],
      text:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      password: '',
      confirmPassword: '',
      passwordRules: [
        (value) => !!value || 'Please type password.',
        (value) => (value && value.length >= 6) || 'minimum 6 characters',
      ],
      confirmPasswordRules: [
        (value) => !!value || 'type confirm password',
        (value) =>
          value === this.password ||
          'The password confirmation does not match.',
      ],
    }
  },
}
</script>