<template>
  <div>
    <Head title="Edit - User" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="User" sub-title="User page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Edit User" to="/user" button-text="back" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="updateUser"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                outlined
                v-model="user.name"
                label="Fullname"
                :rules="[rules.required]"
              ></v-text-field>
              <v-text-field
                outlined
                label="Email"
                v-model="user.email"
                :rules="[rules.required, rules.email]"
              ></v-text-field>
              <v-btn
                dark
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      formError: null,
      formSuccess: null,
      user: {
        name: null,
        email: null,
      },
    }
  },
  mounted() {
    this.getUser(this.$route.params.id)
  },
  created() {},
  methods: {
    async getUser(id) {
      try {
        await this.$store.dispatch('user/getUserDetail', {
          id: id,
        })

        var response = this.$store.getters['user/getUserDetail'].user

        this.user.name = response.name
        this.user.email = response.email
        this.user.status = response.status
      } catch (e) {
        console.log(e)
      }
    },
    async updateUser() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('user/updateUser', {
            id: this.$route.params.id,
            data: this.user,
          })

          const data = this.$store.getters['user/getUpdateUser']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>