<template>
  <div class="login-page">
    <Head title="Login" />
    <v-card flat class="card-main py-16" tile>
      <div class="text-center text-h6 text-sm-h5 text-md-h4 pa-10 white--text">
        <p class="mb-0 pt-3 text-uppercase">Login Admin</p>
      </div>
      <v-row justify="center" class="pb-15 pt-2" no-gutters>
        <v-col md="4" sm="8" cols="10">
          <v-form
            @submit.prevent="userLogin"
            ref="form"
            v-model="valid"
            method="post"
          >
            <v-card flat class="px-7 pt-8 pb-5">
              <v-alert color="red" type="error" v-if="formError">{{
                formError
              }}</v-alert>
              <v-text-field
                flat
                dark
                background-color="purple darken-4"
                class="mt-4"
                ref="email"
                v-model="login.email"
                label="Solo"
                placeholder="Email"
                solo
                :rules="[rules.required, rules.email]"
              ></v-text-field>
              <v-text-field
                flat
                dark
                background-color="purple darken-4"
                class="mt-3"
                ref="password"
                v-model="login.password"
                label="Solo"
                placeholder="Kata Sandi"
                solo
                type="password"
                :rules="[rules.required]"
              ></v-text-field>
            </v-card>

            <v-btn
              block
              large
              type="submit"
              color="white purple--text"
              class="mt-8"
              >Login</v-btn
            >
          </v-form>
        </v-col>
      </v-row>
    </v-card>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-subtitle-1"
          >Anda berhasil login.</v-card-title
        >
        <v-card-text> Selamat Datang </v-card-text>
        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" small text @click="$router.push('/dashboard')">
            Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  layout: 'blank',
  middleware: 'guest',
  data() {
    return {
      valid: true,
      login: {
        email: 'admin@gmail.com',
        password: 'Password123',
      },
      formError: null,
      dialog: false,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
    }
  },
  methods: {
    async userLogin() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()
          let response = await this.$auth.loginWith('local', {
            data: this.login,
          })

          if (response.data.success === true) {
            this.dialog = true
          } else {
            throw new Error(response.data.message)
          }
        }
      } catch (e) {
        this.formError = e.message
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>
<style>
.login-page .card-main {
  background: #1d213a;
}
</style>