<template>
  <div>
    <Head name="Change Password - Profile" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Profile" sub-title="Profile page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Change Password" to="/user" button-hide />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="updateUser"
              v-model="valid"
              ref="form"
            >
              <v-row>
                <v-col cols="12" md="6" class="pb-0 pb-md-3">
                  <v-text-field
                    label="Old Password"
                    v-model="form.password"
                    :rules="[rules.required]"
                    outlined
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                  >
                  </v-text-field>
                  <v-text-field
                    v-model="form.new_password"
                    label="New Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    outlined
                    :rules="passwordRules"
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2" />

                  <v-text-field
                    v-model="confirmPassword"
                    label="Confirm Password"
                    name="confirmPassword"
                    prepend-icon="mdi-lock"
                    outlined
                    :rules="confirmPasswordRules"
                    :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show3 ? 'text' : 'password'"
                    @click:append="show3 = !show3"
                /></v-col>
              </v-row>

              <v-btn dark color="green" block x-large class="my-5" type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      confirmPassword: '',
      passwordRules: [
        (value) => !!value || 'Please type password.',
        (value) => (value && value.length >= 6) || 'minimum 6 characters',
      ],
      confirmPasswordRules: [
        (value) => !!value || 'type confirm password',
        (value) =>
          value === this.form.new_password ||
          'The password confirmation does not match.',
      ],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      form: {
        id: this.$auth.user.id,
        password: null,
        new_password: null,
      },
      foto: null,
    }
  },

  methods: {
    async updateUser() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('changePassword', {
            data: this.form,
          })

          const data = this.$store.getters['getChangePassword']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.form.password = null
            this.form.new_password = null
            this.confirmPassword = null
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>