<template>
  <div>
    <Head name="Edit - Profile" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Profile" sub-title="Profile page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Edit Profile" to="/user" button-hide />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="updateUser"
              v-model="valid"
              ref="form"
            >
              <v-row>
                <v-col cols="12" md="6" class="pb-0 pb-md-3">
                  <v-text-field
                    outlined
                    v-model="user.name"
                    label="Fullname"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    outlined
                    label="Email"
                    v-model="user.email"
                    :rules="[rules.required, rules.email]"
                  ></v-text-field></v-col
                ><v-col cols="12" md="6" class="pt-0 pt-md-3">
                  <v-file-input
                    @change="onAddFiles"
                    v-model="user.foto"
                    show-size
                    outlined
                    accept="image/png, image/jpeg, image/jpg"
                    label="Foto"
                    prepend-icon="mdi-camera"
                  ></v-file-input>
                  <v-card outlined>
                    <div class="d-flex justify-center">
                      <div class="d-flex flex-column">
                        <img
                          alt="Foto"
                          :src="foto"
                          style="max-width: 300px; width: 100%"
                        />
                      </div>
                    </div> </v-card
                ></v-col>
              </v-row>

              <v-btn dark color="green" block x-large class="my-5" type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      formError: null,
      formSuccess: null,
      user: {
        name: null,
        email: null,
        foto: null,
        status: null,
      },
      foto: null,
    }
  },
  mounted() {
    this.getUser(this.$auth.user.id)
  },
  created() {},
  methods: {
    onAddFiles(files) {
      this.user.foto = files
    },
    async getUser(id) {
      try {
        await this.$store.dispatch('user/getUserDetail', {
          id: id,
        })

        var response = this.$store.getters['user/getUserDetail'].user

        this.user.name = response.name
        this.user.email = response.email
        this.user.status = response.status

        this.foto = this.$axios.defaults.baseURL + '/' + response.foto
      } catch (e) {
        console.log(e)
      }
    },
    async updateUser() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          const formData = new FormData()

          formData.append('name', this.user.name)
          formData.append('email', this.user.email)
          formData.append('foto', this.user.foto)
          formData.append('status', this.user.status)

          await this.$store.dispatch('user/updateUser', {
            id: this.$auth.user.id,
            data: formData,
          })

          const data = this.$store.getters['user/getUpdateUser']

          console.log(data)

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.user.foto = null
            this.$auth.user.name = this.user.name
            this.$auth.user.email = this.user.email
            this.$auth.user.foto = data.data.foto
            this.foto = this.$axios.defaults.baseURL + '/' + data.data.foto
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>