<template>
  <div>
    <Head title="Create - Studi" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Studi" sub-title="Studi page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create Studi" to="/smb/mahasiswa" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
            >
              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Data Pribadi</div>
                  <v-select
                    :items="item_kampus_studi"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.kampus_studi"
                    label="Kampus Studi"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-select
                    :items="item_program_studi"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.program_studi"
                    label="Program Studi"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.nama_lengkap"
                    label="Nama Lengkap*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    label="Email*"
                    v-model="mahasiswa.email"
                    :rules="[rules.required, rules.email]"
                  ></v-text-field>
                  <v-select
                    :items="item_jenis_kelamin"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.gender"
                    :rules="[rules.required]"
                    label="Jenis Kelamin*"
                  ></v-select>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.tempat_lahir"
                    label="Tempat Lahir*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-menu
                    v-model="fromDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        small
                        rounded
                        outlined
                        label="Tanggal Lahir*"
                        :rules="[rules.required]"
                        readonly
                        :value="fromDateDisp"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      locale="en-in"
                      v-model="fromDateVal"
                      no-title
                      @input="fromDateMenu = false"
                      :min="minDate"
                    ></v-date-picker>
                  </v-menu>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.phone"
                    label="No HP / Whatsapp*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.no_telp"
                    label="No Telepon"
                  ></v-text-field>
                  <v-autocomplete
                    auto-select-first
                    clearable
                    deletable-chips
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.kota_id"
                    label="Kota/Kabupaten*"
                    :items="item_regencies"
                    item-text="name"
                    item-value="id"
                    v-on:change="getProvice('', $event)"
                    :rules="[rules.required]"
                  ></v-autocomplete>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="provinsi"
                    label="Provinsi"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.kode_pos"
                    label="Kode Pos*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-textarea
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.alamat"
                    label="Alamat*"
                    :rules="[rules.required]"
                  ></v-textarea>
                  <span class="text-title">
                    <p class="text-left">Keterangan :</p>
                    <p class="text-left">
                      * Untuk memudahkan konfirmasi, bila tidak memiliki
                      telepon, maka anda dapat mencantumkan nomor telepon
                      kantor/famili.
                    </p>
                    <p class="text-left">
                      * Bila memiliki beberapa Telepon/HP, silakan mengisinya
                      lebih dari satu, misalkan 021-8762002, 70704824, dst.
                    </p>
                  </span>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Data Pendidikan</div>
                  <v-select
                    :items="item_asal_lulusan"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.pendidikan_terakhir"
                    :rules="[rules.required]"
                    label="Pendidikan Terakhir*"
                  ></v-select>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.nama_sekolah"
                    label="Nama Sekolah/PTN/PTS*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-autocomplete
                    auto-select-first
                    clearable
                    deletable-chips
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.kota_id_sekolah"
                    label="Kota/Kabupaten*"
                    :items="item_regencies"
                    item-text="name"
                    item-value="id"
                    v-on:change="getProvice('sekolah', $event)"
                    :rules="[rules.required]"
                  ></v-autocomplete>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="provinsi_sekolah"
                    label="Provinsi"
                    readonly
                  ></v-text-field>
                  <v-textarea
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.alamat_sekolah"
                    label="Alamat Sekolah/PTN/PTS*"
                    :rules="[rules.required]"
                  ></v-textarea>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Data Pekerjaan</div>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.pekerjaan"
                    label="Nama Pekerjaan"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.no_telp_kantor"
                    label="No Telepon Kantor"
                  ></v-text-field>
                  <v-textarea
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.alamat_kantor"
                    label="Alamat Kantor"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">
                    Rencana Pembiayaan Studi
                  </div>
                  <v-select
                    :items="item_penanggung_biaya"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.penanggung_biaya"
                    label="Biaya Studi Dari"
                    :rules="[rules.required]"
                  ></v-select>
                  <p class="caption mb-2">a) Sumbangan Pengembangan (SPB)</p>
                  <v-select
                    :items="item_tenor"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.spb"
                    label="Berapa Kali"
                    :rules="[rules.required]"
                  ></v-select>
                  <p class="caption mb-2">b) Sumbangan Pendidikan (SPP)</p>
                  <v-select
                    :items="item_tenor"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.spp"
                    label="Berapa Kali"
                    :rules="[rules.required]"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Sumber Informasi</div>
                  <v-select
                    :items="item_sumber_info"
                    item-text="name"
                    item-value="id"
                    label="Pilih Sumber Informasi"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.sumber_info"
                  ></v-select>
                </v-col>
              </v-row>
              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import {
  SUMBER_INFO,
  TENOR,
  JENIS_KELAMIN,
  ASAL_LULUS,
  PENANGGUNG_BIAYA,
  KAMPUS_STUDI,

  
} from '@/utils/constants'

export default {
  data() {
    return {
      provinsi: '',
      provinsi_sekolah: '',
      mahasiswa: {
        // nama_lengkap: 'Sandi',
        // email: 'lesmanaputrasandidian@gmail.com',
        // tanggal_lahir: '1999-06-11',
        // tempat_lahir: 'Jakarta',
        // alamat: 'Cisarua',
        // gender: 1,
        // kota_id: 3174,
        // provinsi_id: 31,
        // kode_pos: '16750',
        // phone: '089601625412',
        // no_telp: '',
        // pendidikan_terakhir: 1,
        // nama_sekolah: 'SMK WIKRAMA BOGOR',
        // alamat_sekolah: 'TAJUR BOGOR',
        // kota_id_sekolah: 3271,
        // provinsi_id_sekolah: 32,
        // pekerjaan: 'test',
        // alamat_kantor: '',
        // no_telp_kantor: '',
        // penanggung_biaya: 1,
        // spb: 1,
        // spp: 1,
        // kampus_studi: 1,
        // program_studi: 1,
        // sumber_info: '',
        nama_lengkap: null,
        email: null,
        tanggal_lahir: null,
        tempat_lahir: null,
        alamat: null,
        gender: null,
        kota_id: null,
        provinsi_id: null,
        kode_pos: null,
        phone: null,
        no_telp: null,
        pendidikan_terakhir: null,
        nama_sekolah: null,
        alamat_sekolah: null,
        kota_id_sekolah: null,
        provinsi_id_sekolah: null,
        pekerjaan: null,
        alamat_kantor: null,
        no_telp_kantor: null,
        penanggung_biaya: null,
        spb: null,
        spp: null,
        kampus_studi: null,
        program_studi: null,
        sumber_info: null,
      },
      item_jenis_kelamin: [],
      item_asal_lulusan: [],
      item_penanggung_biaya: [],
      item_kampus_studi: [],
      item_program_studi: [],
      item_tenor: [],
      item_sumber_info: [],
      item_regencies: [],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      fromDateMenu: false,
      fromDateVal: null,
      minDate: '1980-01-01',
      maxDate: '2018-12-31',
      formSuccess: null,
      formError: null,
      dialog: false,
    }
  },
  mounted() {
    this.item_jenis_kelamin = JENIS_KELAMIN
    this.item_penanggung_biaya = PENANGGUNG_BIAYA
    this.item_asal_lulusan = ASAL_LULUS
    this.item_tenor = TENOR
    this.item_sumber_info = SUMBER_INFO
    this.item_kampus_studi = KAMPUS_STUDI
    this.getStudy()
  },
  computed: {
    fromDateDisp() {
      this.mahasiswa.tanggal_lahir = this.fromDateVal
      return this.fromDateVal
    },
  },
  created() {
    this.getRegency()
  },
  methods: {
    async getStudy() {
      await this.$store.dispatch('study/list')
      var response = this.$store.getters['study/getStudy'].study

      this.item_program_studi = response
    },
    async getRegency() {
      var regencies = await this.$axios.get(`/api/v1/regency`)

      var data = regencies.data.data

      this.item_regencies = data
    },

    getProvice: function (params, e) {
      var regencies = this.item_regencies
      var province_id = 0
      var province_name = ''
      for (var item in regencies) {
        if (regencies[item].id === e) {
          province_id = regencies[item].province.id
          province_name = regencies[item].province.name
        }
      }

      if (params === 'sekolah') {
        this.provinsi_sekolah = province_name
        this.mahasiswa.provinsi_id_sekolah = province_id
        this.mahasiswa.kota_id_sekolah = e
      } else {
        this.provinsi = province_name
        this.mahasiswa.provinsi_id = province_id
        this.mahasiswa.kota_id = e
      }
    },
    async create() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('smb/create', {
            data: this.mahasiswa,
          })

          const data = this.$store.getters['smb/getCreate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message

            for (var item in this.mahasiswa) {
              this.mahasiswa[item] = null
            }

            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        console.log(e)
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>