<template>
  <div>
    <Head title="Edit - Category Event" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Category Event" sub-title="Category Event page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader
            title="Edit Category Event"
            to="/event/category"
            button-text="back"
          />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                small
                rounded
                outlined
                v-model="category.name"
                label="Name"
                :rules="[rules.required]"
              ></v-text-field>
              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import '@/mixins/general'
import { TYPE_CATEGORY } from '@/utils/constants'
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      category: {
        name: null,
      },
      item_type: [],
    }
  },
  mounted() {
    this.getCategory(this.$route.params.id)
    this.item_type = TYPE_CATEGORY
  },
  created() {},
  methods: {
    async getCategory(id) {
      try {
        await this.$store.dispatch('category-event/detail', {
          id: id,
        })

        var response = this.$store.getters['category-event/getDetail'].category

        this.category.name = response.name
      } catch (e) {
        console.log(e)
      }
    },
    async update() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('category-event/update', {
            id: this.$route.params.id,
            data: this.category,
          })

          const data = this.$store.getters['category-event/getUpdate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>