<template>
  <div>
    <Head title="Create - Studi" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Studi" sub-title="Studi page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create Studi" to="/smb/study" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                small
                rounded
                outlined
                v-model="study.name"
                label="Title*"
                :rules="[rules.required]"
              ></v-text-field>
              <v-textarea
                rounded
                outlined
                v-model="study.content"
                label="Content*"
                :rules="[rules.required]"
              ></v-textarea>
              <v-file-input
                v-model="study.image"
                show-size
                rounded
                small
                outlined
                accept="image/png, image/jpeg, image/jpg"
                label="Gambar"
                :rules="[rules.required]"
                prepend-icon="mdi-camera"
              ></v-file-input>
              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show1: false,
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      study: {
        name: null,
        content: null,
        image: null,
      },
    }
  },
  methods: {
    async create() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          const formData = new FormData()

          formData.append('name', this.study.name)
          formData.append('content', this.study.content)
          formData.append('image', this.study.image)

          await this.$store.dispatch('study/create', {
            data: formData,
          })

          const data = this.$store.getters['study/getCreate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.study.name = null
            this.study.content = null
            this.study.image = null
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()

          // setTimeout(() => this.$router.push({ path: '/user' }), 3000)
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>