<template>
  <div>
    <Head title="Create - Event" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Event" sub-title="Event page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create Event" to="/event/post" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>

            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
              enctype="multipart/form-data"
            >
              <v-tabs v-model="tab" dark>
                <v-tabs-slider></v-tabs-slider>

                <v-tab to="#event"> Event </v-tab>

                <v-tab :disabled="true"> Content </v-tab>

                <v-tab :disabled="true"> Publish </v-tab>
              </v-tabs>
              <v-tabs-items v-model="tab">
                <v-tab-item :key="1" value="event" class="mt-5">
                  <v-row>
                    <v-col cols="12" md="6" class="pb-0 pb-md-3">
                      <v-text-field
                        outlined
                        v-model="event.title"
                        label="Title"
                        :rules="[rules.required]"
                      ></v-text-field>
                      <v-select
                        :items="item_category"
                        item-text="name"
                        item-value="id"
                        outlined
                        v-model="event.id_category"
                        label="Category"
                        :rules="[rules.required]"
                      ></v-select>
                      <v-datetime-picker
                        label="Start Date"
                        v-model="event.date_start"
                        dateIcon="mdi-calendar"
                        :textFieldProps="textFieldProps"
                        :datePickerProps="datePickerProps"
                      >
                        <template slot="dateIcon">
                          <v-icon>mdi-calendar</v-icon>
                        </template>
                        <template slot="timeIcon">
                          <v-icon>mdi-clock</v-icon>
                        </template>
                      </v-datetime-picker>
                      <v-datetime-picker
                        label="End Date"
                        v-model="event.date_end"
                        dateIcon="mdi-calendar"
                        :textFieldProps="textFieldProps"
                        :datePickerProps="datePickerProps"
                        dateFormat="yyyy-MM-dd"
                        timeFormat="HH:mm"
                      >
                        <template slot="dateIcon">
                          <v-icon>mdi-calendar</v-icon>
                        </template>
                        <template slot="timeIcon">
                          <v-icon>mdi-clock</v-icon>
                        </template>
                      </v-datetime-picker>
                    </v-col>
                    <v-col cols="12" md="6" class="pt-0 pt-md-3">
                      <v-text-field
                        outlined
                        v-model="event.location"
                        label="Location"
                        :rules="[rules.required]"
                      ></v-text-field>

                      <v-file-input
                        v-model="event.image"
                        show-size
                        outlined
                        accept="image/png, image/jpeg, image/jpg"
                        label="Image"
                        :rules="[rules.required]"
                        prepend-icon="mdi-camera"
                      ></v-file-input>
                    </v-col>
                  </v-row>
                </v-tab-item>
              </v-tabs-items>

              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { STATUS_POST } from '@/utils/constants'
import '@/mixins/general'
export default {
  data() {
    return {
      tab: 'event',
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      event: {
        title: null,
        id_category: null,
        image: null,
        location: null,
        date_start: null,
        date_end: null,
      },
      item_category: [],
      item_status: [],
      textFieldProps: {
        outlined: true,
        rules: [(value) => !!value || 'Required.'],
      },
      datePickerProps: {
        color: 'blue',
      },
    }
  },
  mounted() {
    this.item_status = STATUS_POST
    this.getCategory()
  },
  methods: {
    async getCategory() {
      await this.$store.dispatch('category-event/list')
      var response = this.$store.getters['category-event/getCategory'].category

      this.item_category = response
    },
    async create() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          console.log(this.event)

          // this.$nuxt.$loading.finish()
          // return

          var date_start = this.dateFull(this.event.date_start)
          var date_end = this.dateFull(this.event.date_end)

          const formData = new FormData()

          formData.append('title', this.event.title)
          formData.append('id_category', this.event.id_category)
          formData.append('image', this.event.image)
          formData.append('location', this.event.location)
          formData.append('date_start', date_start)
          formData.append('date_end', date_end)

          await this.$store.dispatch('event/create', {
            data: formData,
          })

          const data = this.$store.getters['event/getCreate']

          if (data.success === true) {
            this.formError = ''
            const id = data.data.event.id
            this.formSuccess = data.message
            setTimeout(
              () =>
                this.$router.push(
                  decodeURIComponent(`/event/post/edit/${id}#content`)
                ),
              3000
            )
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()

          // setTimeout(() => this.$router.push({ path: '/user' }), 3000)
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>