<template>
  <div>
    <Head title="Edit - Tag Article" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Tag Article" sub-title="Tag Article page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader
            title="Edit Tag Article"
            to="/article/tag"
            button-text="back"
          />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                small
                rounded
                outlined
                v-model="tag.name"
                label="Name"
                :rules="[rules.required]"
              ></v-text-field>
              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import '@/mixins/general'
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      tag: {
        name: null,
      },
    }
  },
  mounted() {
    this.getTag(this.$route.params.id)
  },
  created() {},
  methods: {
    async getTag(id) {
      try {
        await this.$store.dispatch('tag-article/detail', {
          id: id,
        })

        var response = this.$store.getters['tag-article/getDetail'].tag

        this.tag.name = response.name
      } catch (e) {
        console.log(e)
      }
    },
    async update() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('tag-article/update', {
            id: this.$route.params.id,
            data: this.tag,
          })

          const data = this.$store.getters['tag-article/getUpdate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>