<template>
  <div>
    <Head title="Create - Article" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Article" sub-title="Article page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create Article" to="/article/post" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
              enctype="multipart/form-data"
            >
              <v-tabs v-model="tab" dark>
                <v-tabs-slider></v-tabs-slider>

                <v-tab to="#article"> Article </v-tab>

                <v-tab :disabled="true"> Content </v-tab>

                <v-tab :disabled="true"> Publish </v-tab>
              </v-tabs>

              <v-tabs-items v-model="tab">
                <v-tab-item :key="1" value="article" class="mt-5">
                  <v-row>
                    <v-col cols="12" md="6" class="pb-0 pb-md-3">
                      <v-text-field
                        outlined
                        v-model="article.title"
                        label="Title"
                        :rules="[rules.required]"
                      ></v-text-field>
                      <v-select
                        :items="item_category"
                        item-text="name"
                        item-value="id"
                        outlined
                        v-model="article.id_category"
                        label="Category"
                        :rules="[rules.required]"
                      ></v-select>
                      <v-select
                        v-model="article.tag"
                        :items="item_tag"
                        item-text="name"
                        item-value="id"
                        label="Tag"
                        multiple
                        chips
                        persistent-hint
                        outlined
                      ></v-select>
                    </v-col>
                    <v-col cols="12" md="6" class="pt-0 pt-md-3">
                      <v-file-input
                        v-model="article.image"
                        show-size
                        outlined
                        accept="image/png, image/jpeg, image/jpg"
                        label="Image"
                        :rules="[rules.required]"
                        prepend-icon="mdi-camera"
                      ></v-file-input> </v-col
                  ></v-row>
                </v-tab-item>
              </v-tabs-items>

              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { STATUS_POST } from '@/utils/constants'
export default {
  data() {
    return {
      tab: 'article',
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formSuccess: null,
      formError: null,
      article: {
        title: null,
        id_category: null,
        image: null,
        tag: null,
      },
      item_category: [],
      item_status: [],
      item_tag: [],
    }
  },
  computed: {},
  mounted() {
    this.item_status = STATUS_POST
    this.getCategory()
    this.getTag()
  },
  methods: {
    async getTag() {
      await this.$store.dispatch('tag-article/list')
      var response = this.$store.getters['tag-article/getTag'].tag

      this.item_tag = response
    },
    async getCategory() {
      await this.$store.dispatch('category-article/list')
      var response = this.$store.getters['category-article/getCategory']
        .category

      this.item_category = response
    },
    async create() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          // console.log(this.article)

          const formData = new FormData()

          formData.append('title', this.article.title)
          formData.append('id_category', this.article.id_category)
          formData.append('tag', JSON.stringify(this.article.tag))
          formData.append('image', this.article.image)

          await this.$store.dispatch('article/create', {
            data: formData,
          })

          const data = this.$store.getters['article/getCreate']

          if (data.success === true) {
            this.formError = ''
            const id = data.data.article.id
            this.formSuccess = data.message
            setTimeout(
              () =>
                this.$router.push(
                  decodeURIComponent(`/article/post/edit/${id}#content`)
                ),
              3000
            )
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>
