<template>
  <div>
    <Head title="Article" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Article" sub-title="Article page" />
      </v-col>
      <v-col cols="12">
        <v-card>
          <CardHeader
            title="List Article"
            to="/article/post/create"
            button-text="create"
            button-icon="mdi-plus"
          />

          <v-card-text>
            <v-alert color="green" type="success" v-if="formSuccess">{{
              formSuccess
            }}</v-alert>
            <v-alert color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>

            <v-text-field
              label="Search by title, category or status..."
              class="pa-0 mt-0 mb-3"
              v-model="search"
              append-icon="mdi-magnify"
              single-line
              hide-details
              outlined
            ></v-text-field>

            <v-data-table
              :search="search"
              :headers="headers"
              :items="article"
              :items-per-page="3"
              :footer-props="{
                itemsPerPageOptions: [20, 50, 100, -1],
              }"
            >
              <template v-slot:[`item.title`]="{ item }">
                <img
                  :src="item.image"
                  :alt="item.title"
                  class="my-2"
                  style="max-width: 100px; width: 100%"
                />
                <div class="text-body-2 mb-2">
                  {{ item.title }}
                </div>
              </template>
              <template v-slot:[`item.status`]="{ item }">
                <v-chip small :color="getStatusPost(item.statusById).class">
                  {{ item.status }}
                </v-chip>
                <br />
                <v-chip
                  small
                  color="red"
                  class="my-2 font-weight-bold"
                  v-if="item.statusById === 1"
                >
                  {{ item.date }}
                </v-chip>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="edit(item.id)"
                  >mdi-pencil</v-icon
                >
                <v-icon small @click="dialogDelete(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"> Confirmation </v-card-title>

        <v-card-text> Want to delete? </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="dialog = false">
            Cancel
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteData(tempId)">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { UPLOAD_ARTICLE } from '@/utils/constants'
import '@/mixins/general'

export default {
  middleware: ['auth'],
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Title',
          align: 'center',
          sortable: true,
          value: 'title',
          width: '25%',
        },
        { text: 'Category', align: 'start', sortable: true, value: 'category' },
        { text: 'Viewer', value: 'viewer', sortable: true },
        { text: 'Status', value: 'status', sortable: true },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false,
          filterable: false,
        },
      ],
      article: [],
      dialog: false,
      tempId: null,
      formError: null,
      formSuccess: null,
    }
  },
  methods: {
    async retrieveArticle() {
      await this.$store.dispatch('article/list')
      var response = this.$store.getters['article/getArticle'].article

      this.article = response.map(this.getDisplayArticle)
    },
    getDisplayArticle(data) {
      return {
        id: data.id,
        title: data.title,
        category: data.category.name,
        status: this.getStatusPost(data.status).name,
        statusById: data.status,
        image: this.$axios.defaults.baseURL + UPLOAD_ARTICLE + data.image,
        date: data.published_at,
        viewer: data.viewer,
      }
    },
    refreshList() {
      this.retrieveArticle()
    },
    edit(id) {
      this.$router.push(decodeURIComponent(`/article/post/edit/${id}#content`))
    },
    dialogDelete(id) {
      this.dialog = true
      this.tempId = id
    },
    async deleteData(id) {
      try {
        this.$nuxt.$loading.start()

        await this.$store.dispatch('article/delete', { id: id })

        const data = this.$store.getters['article/getDelete']

        if (data.success === true) {
          this.formError = ''
          this.formSuccess = data.message
          this.$vuetify.goTo(0)
          this.dialog = false
          this.refreshList()
        } else {
          throw new Error(data.message)
        }

        this.$nuxt.$loading.finish()
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
  mounted() {
    this.retrieveArticle()
  },
}
</script>
