<template>
  <v-card-title class="flex justify-space-between"
    ><div>{{ title }}</div>
    <v-card-actions>
      <v-btn color="primary" dark :to="to" v-if="!buttonHide">
        <v-icon left>{{ buttonIcon }}</v-icon
        >{{ buttonText }}
      </v-btn>
    </v-card-actions>
  </v-card-title>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Page Header Component',
    },
    to: {
      type: String,
      default: '',
    },
    buttonText: {
      type: String,
      default: 'Back',
    },
    buttonIcon: {
      type: String,
      default: 'mdi-arrow-left-thick',
    },
    buttonHide: {
      type: Boolean,
    },
  },
}
</script>