<template>
  <div>
    <tiptap-vuetify
      :value="value"
      :extensions="extensions"
      :toolbar-attributes="toolbarAttributes"
      @input="$emit('input', arguments[0])"
      placeholder="Write something …"
      :card-props="{ flat: false }"
    />
  </div>
</template>

<script>
// import the component and the necessary extensions
import {
  TiptapVuetify,
  Heading,
  Bold,
  Italic,
  Strike,
  Underline,
  Code,
  Paragraph,
  BulletList,
  OrderedList,
  ListItem,
  Link,
  Blockquote,
  HardBreak,
  HorizontalRule,
  History,
} from 'tiptap-vuetify'

export default {
  props: {
    value: {
      type: String,
      default: '',
    },
  },
  // specify TiptapVuetify component in "components"
  components: { TiptapVuetify },
  data: () => ({
    toolbarAttributes: {
      color: 'grey darken-2',
      dark: true,
    },
    // declare extensions you want to use
    extensions: [
      History,
      Blockquote,
      Link,
      Underline,
      Strike,
      Italic,
      ListItem,
      BulletList,
      OrderedList,
      [
        Heading,
        {
          options: {
            levels: [1, 2, 3],
          },
        },
      ],
      Bold,
      Link,
      Code,
      HorizontalRule,
      Paragraph,
      HardBreak,
    ],
    // starting editor's content
  }),
}
</script>

<style scope>
.tiptap-vuetify-editor .ProseMirror {
  min-height: 200px;
}
.tiptap-vuetify-editor__content {
  border: thin solid rgba(255, 255, 255, 0.12);
}
</style>