<template>
  <div></div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default:
        'Sekolah Tinggi Teknologi Indonesia & STIE Nasional Indonesia - STTI-STIENI | Program Reguler & Program Kelas Karyawan',
    },
    photo: {
      type: String,
      default: 'favicon.ico',
    },
    summary: {
      type: String,
      default:
        'Sekolah Tinggi Teknologi Indonesia STIE Nasional Indonesia - STTI-STIENI Program Reguler Program Kelas Karyawan. STTI-STIENI Jakarta, Sekolah Tinggi Teknologi Indonesia, STIE Nasional Indonesia, Program Reguler, S-1, Program Studi/Prodi Terakreditasi, STTI-STIENI Jakarta Sekolah Tinggi Teknologi Indonesia & STIE Nasional Indonesia,  Seumpama kapasitas telah memenuhi maka pendaftaran tahun ini, sebab sebagian peserta program kelas karyawan. Ibu sdr untuk sudi kiranya turut mendorong memotivasi, yang secara berkesinambungan maju serta berkembang. Informasi serta komunikasi untuk kebutuhannya alumnus.',
    },
    url: { type: String, default: 'www.stti-stieni.ac.id' },
    tag: { type: String, default: 'stti-stieni' },
  },
  head() {
    return {
      titleTemplate: `${this.title} - %s`,
      htmlAttrs: {
        lang: 'id-ID',
      },
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.summary,
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: 'this.tags',
        },
        {
          hid: 'summary',
          name: 'summary',
          content: this.summary,
        },
        {
          hid: 'title',
          name: 'title',
          content: this.title,
        },
        { name: 'robots', content: 'index, follow' },
        {
          hid: 'twitter:card',
          name: 'twitter:card',
          content: 'summary_large_image',
        },
        {
          hid: 'twitter:site',
          name: 'twitter:site',
          content: '@stti-stieni',
        },
        {
          hid: 'twitter:title',
          name: 'twitter:title',
          content: this.title,
        },
        {
          hid: 'twitter:creator',
          name: 'twitter:creator',
          content: '@stti-stieni',
        },
        {
          hid: 'twitter:description',
          name: 'twitter:description',
          content: this.summary,
        },
        {
          hid: 'twitter:image',
          name: 'twitter:image',
          content: this.photo,
        },
        {
          hid: 'og:site_name',
          property: 'og:site_name',
          content: 'stti-stieni',
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.photo,
        },
        {
          hid: 'og:image:type',
          property: 'og:image:type',
          content: 'image/jpeg',
        },
        {
          hid: 'og:image:width',
          property: 'og:image:width',
          content: '600',
        },
        {
          hid: 'og:image:height',
          property: 'og:image:height',
          content: '315',
        },
        {
          hid: 'og:locale',
          property: 'og:locale',
          content: 'id_ID',
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.title,
        },
        {
          hid: 'og:url',
          property: 'og:url',
          content: this.url,
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.summary,
        },
        {
          hid: 'og:type',
          property: 'og:type',
          content: 'article',
        },

        { property: 'fb:app_id', content: '187960271237149' },
        { property: 'fb:admins', content: '100000607566694' },
      ],
      link: [{ rel: 'canonical', href: 'www.stti-stieni.ac.id' }],
    }
  },
}
</script>