<template>
  <div>
    <h1 class="font-weight-light mb-0">{{ title }}</h1>
    <span class="overline" v-if="subTitle">{{ subTitle }}</span>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Page Header Component',
    },
    subTitle: {
      type: String,
      default: '',
    },
  },
}
</script>