<template>
  <div>
    <Head title="Create - User" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="User" sub-title="User page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create User" to="/user" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="createUser"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                outlined
                v-model="user.name"
                label="Fullname"
                :rules="[rules.required]"
              ></v-text-field>
              <v-text-field
                outlined
                label="Email"
                v-model="user.email"
                :rules="[rules.required, rules.email]"
              ></v-text-field>
              <v-text-field
                outlined
                v-model="user.password"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                label="Password"
                @click:append="show1 = !show1"
              ></v-text-field>
              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show1: false,
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        min: (v) => v.length >= 8 || 'Min 8 characters',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      formError: null,
      formSuccess: null,
      user: {
        name: null,
        email: null,
        password: '',
      },
    }
  },
  methods: {
    async createUser() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('user/createUser', {
            data: this.user,
          })

          const data = this.$store.getters['user/getCreateUser']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.user.name = null
            this.user.email = null
            this.user.password = ''
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()

          // setTimeout(() => this.$router.push({ path: '/user' }), 3000)
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>