<template>
  <div>
    <Head title="Mahasiswa - SMB" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Mahasiswa - SMB" sub-title="Edit Mahasiswa page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader
            title="Edit Mahasiswa"
            to="/smb/mahasiswa"
            button-text="back"
          />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              ref="form"
            >
              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Data Pribadi</div>
                  <v-select
                    :items="item_kampus_studi"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.kampus_studi"
                    label="Kampus Studi"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-select
                    :items="item_program_studi"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.program_studi"
                    label="Program Studi"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.nama_lengkap"
                    label="Nama Lengkap*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    label="Email*"
                    v-model="mahasiswa.email"
                    :rules="[rules.required, rules.email]"
                  ></v-text-field>
                  <v-select
                    :items="item_jenis_kelamin"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.gender"
                    :rules="[rules.required]"
                    label="Jenis Kelamin*"
                  ></v-select>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.tempat_lahir"
                    label="Tempat Lahir*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-menu
                    v-model="fromDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        small
                        rounded
                        outlined
                        label="Tanggal Lahir*"
                        :rules="[rules.required]"
                        readonly
                        :value="fromDateDisp"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      locale="en-in"
                      v-model="fromDateVal"
                      no-title
                      @input="fromDateMenu = false"
                      :min="minDate"
                    ></v-date-picker>
                  </v-menu>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.phone"
                    label="No HP / Whatsapp*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.no_telp"
                    label="No Telepon"
                  ></v-text-field>
                  <v-autocomplete
                    auto-select-first
                    clearable
                    deletable-chips
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.kota_id"
                    label="Kota/Kabupaten*"
                    :items="item_regencies"
                    item-text="name"
                    item-value="id"
                    v-on:change="getProvinceChange('', $event)"
                    :rules="[rules.required]"
                  ></v-autocomplete>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="provinsi"
                    label="Provinsi"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.kode_pos"
                    label="Kode Pos*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-textarea
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.alamat"
                    label="Alamat*"
                    :rules="[rules.required]"
                  ></v-textarea>
                  <span class="text-title">
                    <p class="text-left">Keterangan :</p>
                    <p class="text-left">
                      * Untuk memudahkan konfirmasi, bila tidak memiliki
                      telepon, maka anda dapat mencantumkan nomor telepon
                      kantor/famili.
                    </p>
                    <p class="text-left">
                      * Bila memiliki beberapa Telepon/HP, silakan mengisinya
                      lebih dari satu, misalkan 021-8762002, 70704824, dst.
                    </p>
                  </span>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Data Pendidikan</div>
                  <v-select
                    :items="item_asal_lulusan"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.pendidikan_terakhir"
                    :rules="[rules.required]"
                    label="Pendidikan Terakhir*"
                  ></v-select>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.nama_sekolah"
                    label="Nama Sekolah/PTN/PTS*"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-autocomplete
                    auto-select-first
                    clearable
                    deletable-chips
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.kota_id_sekolah"
                    label="Kota/Kabupaten*"
                    :items="item_regencies"
                    item-text="name"
                    item-value="id"
                    v-on:change="getProvinceChange('sekolah', $event)"
                    :rules="[rules.required]"
                  ></v-autocomplete>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="provinsi_sekolah"
                    label="Provinsi"
                    readonly
                  ></v-text-field>
                  <v-textarea
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.alamat_sekolah"
                    label="Alamat Sekolah/PTN/PTS*"
                    :rules="[rules.required]"
                  ></v-textarea>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Data Pekerjaan</div>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.pekerjaan"
                    label="Nama Pekerjaan"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.no_telp_kantor"
                    label="No Telepon Kantor"
                  ></v-text-field>
                  <v-textarea
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.alamat_kantor"
                    label="Alamat Kantor"
                  ></v-textarea>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">
                    Rencana Pembiayaan Studi
                  </div>
                  <v-select
                    :items="item_penanggung_biaya"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.penanggung_biaya"
                    label="Biaya Studi Dari"
                    :rules="[rules.required]"
                  ></v-select>
                  <p class="caption mb-2">a) Sumbangan Pengembangan (SPB)</p>
                  <v-select
                    :items="item_tenor"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.spb"
                    label="Berapa Kali"
                    :rules="[rules.required]"
                  ></v-select>
                  <p class="caption mb-2">b) Sumbangan Pendidikan (SPP)</p>
                  <v-select
                    :items="item_tenor"
                    item-text="name"
                    item-value="id"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.spp"
                    label="Berapa Kali"
                    :rules="[rules.required]"
                  ></v-select>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12">
                  <div class="text-center text-h5 mb-3">Sumber Informasi</div>
                  <v-select
                    :items="item_sumber_info"
                    item-text="name"
                    item-value="id"
                    label="Pilih Sumber Informasi"
                    rounded
                    small
                    outlined
                    v-model="mahasiswa.sumber_info"
                  ></v-select>
                </v-col>
              </v-row>

              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import '@/mixins/general'
import {
  SUMBER_INFO,
  TENOR,
  JENIS_KELAMIN,
  ASAL_LULUS,
  PENANGGUNG_BIAYA,
  KAMPUS_STUDI,
} from '@/utils/constants'

export default {
  data() {
    return {
      provinsi: '',
      provinsi_sekolah: '',
      mahasiswa: {
        nama_lengkap: null,
        email: null,
        tanggal_lahir: null,
        tempat_lahir: null,
        alamat: null,
        gender: null,
        kota_id: null,
        provinsi_id: null,
        kode_pos: null,
        phone: null,
        no_telp: null,
        pendidikan_terakhir: null,
        nama_sekolah: null,
        alamat_sekolah: null,
        kota_id_sekolah: null,
        provinsi_id_sekolah: null,
        pekerjaan: null,
        alamat_kantor: null,
        no_telp_kantor: null,
        penanggung_biaya: null,
        spb: null,
        spp: null,
        kampus_studi: null,
        program_studi: null,
        sumber_info: null,
      },
      item_jenis_kelamin: [],
      item_asal_lulusan: [],
      item_penanggung_biaya: [],
      item_kampus_studi: [],
      item_program_studi: [],
      item_tenor: [],
      item_sumber_info: [],
      item_regencies: [],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      fromDateMenu: false,
      fromDateVal: null,
      minDate: '1980-01-01',
      maxDate: '2018-12-31',
      formSuccess: null,
      formError: null,
      dialog: false,
    }
  },
  mounted() {
    this.item_jenis_kelamin = JENIS_KELAMIN
    this.item_penanggung_biaya = PENANGGUNG_BIAYA
    this.item_asal_lulusan = ASAL_LULUS
    this.item_tenor = TENOR
    this.item_sumber_info = SUMBER_INFO
    this.item_kampus_studi = KAMPUS_STUDI
    this.getMahasiswa(this.$route.params.id)
    this.getStudy()
    this.getRegency()
  },
  computed: {
    fromDateDisp() {
      return this.mahasiswa.tanggal_lahir
    },
  },
  methods: {
    async getStudy() {
      await this.$store.dispatch('study/list')
      var response = this.$store.getters['study/getStudy'].study

      this.item_program_studi = response
    },
    async getRegency() {
      await this.$store.dispatch('region')

      var regencies = this.$store.getters['getRegion']

      this.item_regencies = regencies

      var kota_id = this.mahasiswa.kota_id

      var getProvince = this.getProvince(regencies, kota_id)

      this.provinsi = getProvince.name
      this.provinsi_sekolah = getProvince.name
    },

    getProvinceChange: function (params, e) {
      var regencies = this.item_regencies

      var getProvince = this.getProvince(regencies, e)

      if (params === 'sekolah') {
        this.provinsi_sekolah = getProvince.name
        this.mahasiswa.provinsi_id_sekolah = getProvince.id
        this.mahasiswa.kota_id_sekolah = e
      } else {
        this.provinsi = getProvince.name
        this.mahasiswa.provinsi_id = getProvince.id
        this.mahasiswa.kota_id = e
      }
    },

    async getMahasiswa(id) {
      try {
        await this.$store.dispatch('smb/detail', {
          id: id,
        })

        var response = this.$store.getters['smb/getDetail'].user

        this.mahasiswa.nama_lengkap = response.nama_lengkap
        this.mahasiswa.program_studi = response.program_studi
        this.mahasiswa.kampus_studi = response.kampus_studi
        this.mahasiswa.email = response.email
        this.mahasiswa.gender = response.gender
        this.mahasiswa.tempat_lahir = response.tempat_lahir
        this.mahasiswa.tanggal_lahir = response.tanggal_lahir
        this.mahasiswa.alamat = response.alamat
        this.mahasiswa.kota_id = response.kota_id
        this.mahasiswa.provinsi_id = response.provinsi_id
        this.mahasiswa.kode_pos = response.kode_pos
        this.mahasiswa.phone = response.phone
        this.mahasiswa.no_telp = response.no_telp
        this.mahasiswa.pendidikan_terakhir = response.pendidikan_terakhir
        this.mahasiswa.nama_sekolah = response.nama_sekolah
        this.mahasiswa.alamat_sekolah = response.alamat_sekolah
        this.mahasiswa.kota_id_sekolah = response.kota_id
        this.mahasiswa.provinsi_id_sekolah = response.provinsi_id_sekolah
        this.mahasiswa.pekerjaan = response.pekerjaan
        this.mahasiswa.alamat_kantor = response.alamat_sekolah
        this.mahasiswa.no_telp_kantor = response.no_telp_kantor
        this.mahasiswa.penanggung_biaya = response.penanggung_biaya
        this.mahasiswa.spb = response.spb
        this.mahasiswa.spp = response.spp
        this.mahasiswa.kampus_studi = response.kampus_studi
        this.mahasiswa.sumber_info = response.sumber_info

        this.mahasiswa.status = response.status
      } catch (e) {
        console.log(e)
      }
    },
    async update() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('smb/update', {
            id: this.$route.params.id,
            data: this.mahasiswa,
          })

          const data = this.$store.getters['smb/getUpdate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>