<template>
  <div>
    <Head title="Edit - Gallery" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Gallery" sub-title="Gallery page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader
            title="Edit Gallery"
            to="/gallery/post"
            button-text="back"
          />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              ref="form"
              enctype="multipart/form-data"
            >
              <v-text-field
                outlined
                v-model="gallery.title"
                label="Title"
                :rules="[rules.required]"
              ></v-text-field>

              <v-select
                :items="item_category"
                item-text="name"
                item-value="id"
                outlined
                v-model="gallery.id_category"
                label="Category"
                :rules="[rules.required]"
              ></v-select>

              <v-textarea
                outlined
                v-model="gallery.content"
                label="Content"
                :rules="[rules.required]"
              ></v-textarea>
              <v-select
                :items="item_status"
                item-text="name"
                item-value="id"
                outlined
                v-model="gallery.status"
                label="Status"
                :rules="[rules.required]"
              ></v-select>
              <v-file-input
                @change="onAddFiles"
                show-size
                outlined
                accept="image/png, image/jpeg, image/jpg"
                label="Image"
                prepend-icon="mdi-camera"
              ></v-file-input>

              <div class="d-flex justify-center">
                <div class="d-flex flex-column">
                  <div class="text-caption">Image :</div>
                  <img
                    alt="image"
                    :src="image"
                    style="max-width: 300px; width: 100%"
                    class="pt-3 pb-10"
                  />
                </div>
              </div>

              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { UPLOAD_GALLERY, STATUS_POST } from '@/utils/constants'
import '@/mixins/general'
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      gallery: {
        title: null,
        content: null,
        id_category: null,
        image: null,
        location: null,
        date_start: null,
        date_end: null,
        status: null,
      },
      item_category: [],
      item_status: [],
      textFieldProps: {
        outlined: true,
        rules: [(value) => !!value || 'Required.'],
      },
      datePickerProps: {
        color: 'blue',
      },
      image: null,
    }
  },
  mounted() {
    this.item_status = STATUS_POST
    this.getGallery(this.$route.params.id)
    this.getCategory()
  },
  created() {},
  methods: {
    onAddFiles(files) {
      this.gallery.image = files
    },
    async getCategory() {
      await this.$store.dispatch('category-gallery/list')
      var response = this.$store.getters['category-gallery/getCategory']
        .category

      this.item_category = response
    },
    async getGallery(id) {
      try {
        await this.$store.dispatch('gallery/detail', {
          id: id,
        })

        var response = this.$store.getters['gallery/getDetail'].gallery

        this.gallery.title = response.title
        this.gallery.content = response.content
        this.gallery.id_category = response.id_category
        this.gallery.status = response.status
        this.image =
          this.$axios.defaults.baseURL + UPLOAD_GALLERY + response.image
      } catch (e) {
        console.log(e)
      }
    },
    async update() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          var date_start = this.dateFull(this.gallery.date_start)
          var date_end = this.dateFull(this.gallery.date_end)

          // console.log([date_start, date_end])

          const formData = new FormData()

          formData.append('title', this.gallery.title)
          formData.append('id_category', this.gallery.id_category)
          formData.append('content', this.gallery.content)
          formData.append('image', this.gallery.image)
          formData.append('status', this.gallery.status)

          await this.$store.dispatch('gallery/update', {
            id: this.$route.params.id,
            data: formData,
          })

          const data = this.$store.getters['gallery/getUpdate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.gallery.image = null
            this.image =
              this.$axios.defaults.baseURL + UPLOAD_GALLERY + data.data.image
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>