<template>
  <div>
    <Head title="Edit - Studi" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Studi" sub-title="Studi page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Edit Studi" to="/smb/study" button-text="back" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="update"
              v-model="valid"
              enctype="multipart/form-data"
              ref="form"
            >
              <v-text-field
                small
                rounded
                outlined
                v-model="study.name"
                label="Title*"
                :rules="[rules.required]"
              ></v-text-field>
              <v-textarea
                rounded
                outlined
                v-model="study.content"
                label="Content*"
                :rules="[rules.required]"
              ></v-textarea>
              <v-file-input
                @change="onAddFiles"
                show-size
                rounded
                small
                outlined
                accept="image/png, image/jpeg, image/jpg"
                label="Gambar"
                prepend-icon="mdi-camera"
              ></v-file-input>
              <div class="d-flex justify-center">
                <div class="d-flex flex-column">
                  <div class="text-caption">Gambar :</div>
                  <img
                    alt="image"
                    :src="image"
                    style="max-width: 300px; width: 100%"
                    class="pt-3 pb-10"
                  />
                </div>
              </div>
              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Update</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { UPLOAD_STUDY, STATUS_POST } from '@/utils/constants'
export default {
  data() {
    return {
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      study: {
        name: null,
        content: null,
        image: null,
      },
      image: null,
    }
  },
  mounted() {
    this.getStudy(this.$route.params.id)
  },
  created() {},
  methods: {
    onAddFiles(files) {
      this.study.image = files
    },
    async getStudy(id) {
      try {
        await this.$store.dispatch('study/detail', {
          id: id,
        })

        var response = this.$store.getters['study/getDetail'].study

        this.study.name = response.name
        this.study.content = response.content
        this.study.status = response.status
        this.image =
          this.$axios.defaults.baseURL + UPLOAD_STUDY + response.image
      } catch (e) {
        console.log(e)
      }
    },
    async update() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          const formData = new FormData()

          formData.append('name', this.study.name)
          formData.append('content', this.study.content)
          formData.append('image', this.study.image)

          await this.$store.dispatch('study/update', {
            id: this.$route.params.id,
            data: formData,
          })

          const data = this.$store.getters['study/getUpdate']

          console.log(data)

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.study.image = null
            this.image =
              this.$axios.defaults.baseURL + UPLOAD_STUDY + data.data.image
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>