<template>
  <v-app class="layout-default">
    <v-app-bar app color="grey darken-4" dark>
      <v-app-bar-nav-icon
        class="d-none d-md-block"
        @click.stop="sidebarMenu = !sidebarMenu"
      ></v-app-bar-nav-icon>
      <v-app-bar-nav-icon
        class="d-md-none d-flex"
        @click="drawer = true"
      ></v-app-bar-nav-icon>
      <v-toolbar-title>Dashboard</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-menu bottom min-width="200px" rounded offset-y>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-list-item-content class="justify-center pb-0">
            <div class="mx-auto text-center">
              <v-avatar>
                <img alt="Avatar" :src="avatar" />
              </v-avatar>
              <div class="text-h6 my-1">{{ this.$auth.user.name }}</div>
              <div class="text-caption mt-1 mb-3">
                {{ this.$auth.user.email }}
              </div>
            </div>

            <v-divider class="my-1"></v-divider>
            <v-list class="py-0">
              <v-list-item-group>
                <v-list-item :to="{ name: 'dashboard-user-profile' }">
                  <v-list-item-icon class="mr-3">
                    <v-icon>mdi-account</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Profile</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item :to="{ name: 'dashboard-user-change-password' }">
                  <v-list-item-icon class="mr-3">
                    <v-icon>mdi-lock</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Change Password</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item @click="logout">
                  <v-list-item-icon class="mr-3">
                    <v-icon>mdi-power</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>Logout</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-list-item-content>
        </v-card>
      </v-menu>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" temporary app>
      <v-list dense nav>
        <v-list-item>
          <v-list-item-title> Menu </v-list-item-title>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item
          v-for="(item, i) in itemSideBar"
          :key="i"
          link
          :to="item.href"
        >
          <v-list-item-icon class="mr-3">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group
          color="grey"
          v-for="item in itemArticle"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemEvent"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemGallery"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemSmb"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemPrimagamas"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-navigation-drawer
      v-model="sidebarMenu"
      app
      color="d-none d-md-block grey darken-4"
    >
      <v-list dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title> ADMIN STTI-STIENI </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list>
        <v-list-item
          v-for="(item, i) in itemSideBar"
          :key="i"
          link
          :to="item.href"
        >
          <v-list-item-icon class="mr-3">
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group
          color="grey"
          v-for="item in itemArticle"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemEvent"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemGallery"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemSmb"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-group
          color="grey"
          v-for="item in itemPrimagamas"
          :key="item.title"
          v-model="item.active"
          :prepend-icon="item.action"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            v-for="child in item.items"
            :key="child.title"
            :to="child.to"
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container class="px-4 py-0 fill-height" fluid>
        <v-row class="fill-height">
          <v-col>
            <transition name="fade">
              <nuxt />
            </transition>
          </v-col>
        </v-row>
      </v-container>
      <v-footer app color="grey darken-4" class="py-3">
        <span class="ml-auto overline">STTI-STIENI &copy;{{ year }}</span>
      </v-footer>
    </v-main>
  </v-app>
</template>
<script>
export default {
  middleware: 'auth',
  methods: {
    async logout() {
      try {
        this.$nuxt.$loading.start()
        var logout = await this.$auth.logout('local')
      } catch (error) {
        this.$nuxt.$loading.finish()
      }
    },
  },
  computed: {
    mini() {
      return this.$vuetify.breakpoint.smAndDown || this.toggleMini
    },
    avatar() {
      return this.$axios.defaults.baseURL + '/' + this.$auth.user.foto
    },
  },
  data() {
    var d = new Date()
    var year = d.getFullYear()

    return {
      year: year,
      drawer: false,
      sidebarMenu: true,
      toggleMini: false,
      itemSideBar: [
        { title: 'Home', href: '/dashboard', icon: 'mdi-home-outline' },
        { title: 'User ', href: '/user', icon: 'mdi-account-group' },
      ],
      itemArticle: [
        {
          action: 'mdi-note-outline',
          items: [
            { title: 'Category', to: '/article/category' },
            { title: 'Tag', to: '/article/tag' },
            { title: 'Article', to: '/article/post' },
          ],
          title: 'Article',
        },
      ],
      itemEvent: [
        {
          action: 'mdi-calendar',
          items: [
            { title: 'Category', to: '/event/category' },
            { title: 'Event', to: '/event/post' },
          ],
          title: 'Event',
        },
      ],
      itemMaster: [
        {
          action: 'mdi-alpha-m-box-outline',
          items: [{ title: 'Study', to: '/master/study' }],
          title: 'Master',
        },
      ],
      itemGallery: [
        {
          action: 'mdi-play-protected-content',
          items: [
            { title: 'Category', to: '/gallery/category' },
            { title: 'Gallery', to: '/gallery/post' },
          ],
          title: 'Gallery',
        },
      ],
      itemSmb: [
        {
          action: 'mdi-badge-account-horizontal-outline',
          items: [
            { title: 'Mahasiswa', to: '/smb/mahasiswa' },
            { title: 'Study', to: '/smb/study' },
          ],
          title: 'SMB',
        },
      ],
      itemPrimagamas: [
        {
          action: 'mdi-pandora',
          items: [{ title: 'Mahasiswa', to: '/primagamas/mahasiswa' }],
          title: 'Primagamas',
        },
      ],
    }
  },
}
</script>
<style scope>
.v-application--is-ltr
  .v-list-group--no-action
  > .v-list-group__items
  > .v-list-item {
  padding-left: 52px !important;
}

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 12px !important;
}

.theme--dark.v-application {
  background-color: #181818;
}

.theme--dark.v-card,
.theme--dark.v-data-table,
.theme--dark.v-tabs-items,
.theme--dark.v-tabs .v-tabs-bar {
  background-color: #232323;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  background-color: #333;
}

::-webkit-scrollbar-track:hover {
  background-color: #292929;
}
</style>