<template>
  <div class="dashboard-index-page">
    <Head title="Dashboard" />
    <v-row>
      <v-col cols="12">
        <h1 class="font-weight-light mb-0">Dashboard</h1>
        <span class="overline">Add other dashboard views</span>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  middleware: ['auth'],
  data() {
    return {
      email: '',
      password: '',
    }
  },
}
</script>