<template>
  <div>
    <Head title="Mahasiswa - Primagamas" />
    <v-row>
      <v-col cols="12">
        <PageHeader
          title="Mahasiswa - Primagamas"
          sub-title="Create Mahasiswa page"
        />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader
            title="Create Mahasiswa"
            to="/primagamas/mahasiswa"
            button-text="back"
          />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
            >
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.nama_lengkap"
                    label="Nama Lengkap"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.email"
                    label="Email"
                    :rules="[rules.required, rules.email]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.tempat_lahir"
                    label="Tempat Lahir"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-menu
                    v-model="fromDateMenu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        small
                        rounded
                        outlined
                        label="Tanggal Lahir"
                        :rules="[rules.required]"
                        readonly
                        :value="fromDateDisp"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      color="blue"
                      locale="en-in"
                      v-model="fromDateVal"
                      no-title
                      @input="fromDateMenu = false"
                      :min="minDate"
                    ></v-date-picker>
                  </v-menu>
                  <v-select
                    :items="item_jenis_kelamin"
                    item-text="name"
                    item-value="id"
                    label="Jenis Kelamin"
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.gender"
                    :rules="[rules.required]"
                  ></v-select>
                  <v-textarea
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.alamat"
                    label="Alamat Rumah (termasuk apabila ada nama gang atau komplek, RT, RW, kelurahan/desa, kecamatan)"
                    :rules="[rules.required]"
                  ></v-textarea>
                  <v-autocomplete
                    auto-select-first
                    clearable
                    deletable-chips
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.kota_id"
                    label="Kota/Kabupaten"
                    :items="item_regencies"
                    item-text="name"
                    item-value="id"
                    v-on:change="getProvinceChange"
                    :rules="[rules.required]"
                  ></v-autocomplete>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="this.provinsi"
                    label="Provinsi"
                    readonly
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.kode_pos"
                    label="Kode Pos"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.no_telp"
                    label="No Telp"
                  ></v-text-field>
                  <v-text-field
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.phone"
                    label="Handphone"
                    :rules="[rules.required]"
                  ></v-text-field>
                  <v-select
                    :items="item_sumber_info"
                    item-text="name"
                    item-value="id"
                    label="Informasi Primagamas diketahui dari"
                    small
                    rounded
                    outlined
                    v-model="mahasiswa.sumber_info"
                  ></v-select>
                </v-col>
              </v-row>
              <div class="text-h5 font-weight-bold mt-10 mb-3">
                Pilihan Program Profesi 2 tahun PRIMAGAMAS Akademi Vokasi
              </div>

              <v-row>
                <v-col cols="6" md="4">
                  <v-select
                    class="my-2"
                    label="Pilih program"
                    v-for="(item, index) in mahasiswa.jurusan.name"
                    :items="item_jurusan"
                    item-text="name"
                    item-value="id"
                    :key="index"
                    small
                    rounded
                    outlined
                    v-model="item.value"
                    :rules="[rules.required]"
                  ></v-select>
                </v-col>
                <v-col cols="3" md="2">
                  <v-text-field
                    class="my-2"
                    v-for="(item, index) in mahasiswa.jurusan.jumlah"
                    :key="index"
                    small
                    rounded
                    outlined
                    v-model="item.value"
                    label="Jumlah"
                    readonly
                    :rules="[rules.required]"
                  ></v-text-field>
                </v-col>
                <v-col cols="3" md="2">
                  <v-btn
                    v-for="(item, index) in mahasiswa.jurusan.jumlah"
                    :key="index"
                    class="my-4"
                    outlined
                    color="red"
                    @click="deleteItem(index)"
                    v-if="index > 0"
                  >
                    Hapus
                  </v-btn>
                  <v-btn class="my-4" outlined @click="addItem" v-else>
                    Tambah
                  </v-btn>
                </v-col>
              </v-row>

              <v-btn
                dark
                rounded
                color="green"
                block
                x-large
                class="mb-5"
                type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import '@/mixins/general'
import {
  SUMBER_INFO_PRIMAGAMAS,
  JENIS_KELAMIN,
  JURUSAN,
} from '@/utils/constants'

export default {
  data() {
    return {
      mahasiswa: {
        // nama_lengkap: 'Sandi Dian',
        // tanggal_lahir: null,
        // tempat_lahir: 'Jakarta',
        // alamat: 'Cisarua',
        // gender: 1,
        // kota_id: 9426,
        // provinsi_id: 94,
        // kode_pos: '16750',
        // no_telp: null,
        // phone: '0895912312321',
        // sumber_info: 1,
        // jurusan: {
        //   name: [
        //     {
        //       value: '',
        //     },
        //   ],
        //   jumlah: [
        //     {
        //       value: 1,
        //     },
        //   ],
        // },

        // email: 'sandidianlesmanaputra.rpl@gmail.com',
        nama_lengkap: null,
        tanggal_lahir: null,
        tempat_lahir: null,
        alamat: null,
        gender: null,
        kota_id: null,
        provinsi_id: null,
        kode_pos: null,
        no_telp: null,
        phone: null,
        sumber_info: '',
        jurusan: {
          name: [
            {
              value: '',
            },
          ],
          jumlah: [
            {
              value: 1,
            },
          ],
        },
        email: null,
        username: 'sandidianlp',
      },
      provinsi: '',
      item_jenis_kelamin: [],
      item_sumber_info: [],
      item_jurusan: [],
      item_regencies: [],
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (v) => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(v) || 'Invalid e-mail.'
        },
      },
      fromDateMenu: false,
      fromDateVal: null,
      minDate: '1980-01-01',
      maxDate: '2018-12-31',
      formSuccess: null,
      formError: null,
      dialog: false,
    }
  },
  mounted() {
    this.item_jenis_kelamin = JENIS_KELAMIN
    this.item_sumber_info = SUMBER_INFO_PRIMAGAMAS
    this.item_jurusan = JURUSAN
    this.getRegency()
  },
  computed: {
    fromDateDisp() {
      this.mahasiswa.tanggal_lahir = this.fromDateVal
      return this.fromDateVal
    },
  },
  methods: {
    async getRegency() {
      await this.$store.dispatch('region')

      var regencies = this.$store.getters['getRegion']

      this.item_regencies = regencies
    },

    getProvinceChange: function (e) {
      var regencies = this.item_regencies

      var getProvince = this.getProvince(regencies, e)

      this.provinsi = getProvince.name

      this.mahasiswa.provinsi_id = getProvince.id
      this.mahasiswa.kota_id = e
    },
    addItem() {
      if (this.mahasiswa.jurusan.name.length < 3) {
        this.mahasiswa.jurusan.name.push({
          value: '',
        })
      }
      if (this.mahasiswa.jurusan.jumlah.length < 3) {
        this.mahasiswa.jurusan.jumlah.push({
          value: 1,
        })
      }
    },
    deleteItem(id) {
      var jurusan = this.mahasiswa.jurusan

      for (const [key, value] of Object.entries(jurusan.name)) {
        if (key == id) {
          jurusan.name.splice(key, 1)
        }
      }

      for (const [key, value] of Object.entries(jurusan.jumlah)) {
        if (key == id) {
          jurusan.jumlah.splice(key, 1)
        }
      }
    },
    async create() {
      var jurusan = this.mahasiswa.jurusan

      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          var store_jurusan = []

          for (var item in jurusan.name) {
            store_jurusan.push(jurusan.name[item].value)
          }

          this.mahasiswa.jurusan = JSON.stringify(store_jurusan)

          // console.log(this.mahasiswa)

          await this.$store.dispatch('primagamas/create', {
            data: this.mahasiswa,
          })

          const data = this.$store.getters['primagamas/getCreate']

          if (data.success === true) {
            for (var item in this.mahasiswa) {
              this.mahasiswa[item] = null
            }

            this.mahasiswa.jurusan = {
              name: [
                {
                  value: '',
                },
              ],
              jumlah: [
                {
                  value: 1,
                },
              ],
            }

            this.formError = ''
            this.formSuccess = data.message
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>
