<template>
  <div>
    <Head title="List Mahasiswa - Primagamas" />
    <v-row>
      <v-col cols="12">
        <PageHeader
          title="Mahasiswa - Primagamas"
          sub-title="List Mahasiswa page"
        />
      </v-col>
      <v-col cols="12">
        <v-card>
          <CardHeader
            title="List Mahasiswa"
            to="/primagamas/mahasiswa/create"
            button-text="create"
            button-icon="mdi-plus"
          />

          <v-card-text>
            <v-alert color="green" type="success" v-if="formSuccess">{{
              formSuccess
            }}</v-alert>
            <v-alert color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>

            <v-text-field
              class="pa-0 mt-0 mb-5"
              v-model="search"
              append-icon="mdi-magnify"
              label="Cari berdasarkan nama, email, tanggal daftar atau status..."
              single-line
              hide-details
            ></v-text-field>

            <v-data-table
              :search="search"
              :headers="headers"
              :items="mahasiswa"
              :items-per-page="3"
              :footer-props="{
                itemsPerPageOptions: [20, 50, 100, -1],
              }"
            >
              <template v-slot:[`item.status`]="{ item }">
                <v-chip :color="getStatus(item.statusById).class">
                  {{ item.status }}
                </v-chip>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="edit(item.id)"
                  >mdi-pencil</v-icon
                >
                <v-icon small @click="dialogDelete(item.id)">mdi-delete</v-icon>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline"> Konfirmasi </v-card-title>

        <v-card-text> Yakin akan menghapus data ini? </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="dialog = false">
            Cancel
          </v-btn>

          <v-btn color="green darken-1" text @click="deleteData(tempId)">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import '@/mixins/general'
import moment from 'moment'

export default {
  middleware: ['auth'],
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Nama Lengkap',
          align: 'start',
          sortable: true,
          value: 'nama_lengkap',
        },
        {
          text: 'Email',
          align: 'start',
          sortable: true,
          value: 'email',
        },
        {
          text: 'Tanggal Daftar',
          align: 'start',
          sortable: false,
          value: 'created_at',
        },
        { text: 'Status', value: 'status', sortable: true },
        {
          text: 'Actions',
          value: 'actions',
          sortable: false,
          filterable: false,
        },
      ],
      mahasiswa: [],
      dialog: false,
      tempId: null,
      formError: null,
      formSuccess: null,
    }
  },
  methods: {
    async retrieveMahasiswa() {
      await this.$store.dispatch('primagamas/list')
      var response = this.$store.getters['primagamas/getMahasiswa'].mahasiswa

      this.mahasiswa = response.map(this.getDisplayMahasiswa)
    },
    getDisplayMahasiswa(data) {
      return {
        id: data.id,
        nama_lengkap: data.nama_lengkap,
        email: data.email,
        created_at: moment.utc(String(data.created_at)).format('DD MMM YYYY'),
        status: this.getStatus(data.status).text,
        statusById: data.status,
      }
    },
    refreshList() {
      this.retrieveMahasiswa()
    },
    edit(id) {
      this.$router.push({
        name: 'primagamas-mahasiswa-edit-id',
        params: { id: id },
      })
    },
    dialogDelete(id) {
      this.dialog = true
      this.tempId = id
    },
    async deleteData(id) {
      try {
        this.$nuxt.$loading.start()

        await this.$store.dispatch('primagamas/delete', { id: id })

        const data = this.$store.getters['primagamas/getDelete']

        if (data.success === true) {
          this.formError = ''
          this.formSuccess = data.message
          this.$vuetify.goTo(0)
          this.dialog = false
          this.refreshList()
        } else {
          throw new Error(data.message)
        }

        this.$nuxt.$loading.finish()
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
  mounted() {
    this.retrieveMahasiswa()
  },
}
</script>