<template>
  <div>
    <Head title="Create - Category Gallery" />
    <v-row>
      <v-col cols="12">
        <PageHeader
          title="Category Gallery"
          sub-title="Category Gallery page"
        />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create Category Gallery" to="/gallery/category" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
            >
              <v-text-field
                outlined
                v-model="category.name"
                label="Name"
                :rules="[rules.required]"
              ></v-text-field>
              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import '@/mixins/general'
import { TYPE_CATEGORY } from '@/utils/constants'
export default {
  data() {
    return {
      show1: false,
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      category: {
        name: null,
      },
      item_type: [],
    }
  },
  mounted() {
    this.item_type = TYPE_CATEGORY
  },
  methods: {
    async create() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          await this.$store.dispatch('category-gallery/create', {
            data: this.category,
          })

          const data = this.$store.getters['category-gallery/getCreate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.category.name = null
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()

          // setTimeout(() => this.$router.push({ path: '/user' }), 3000)
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>