<template>
  <div>
    <Head title="Create - Gallery" />
    <v-row>
      <v-col cols="12">
        <PageHeader title="Gallery" sub-title="Gallery page" />
      </v-col>
      <v-col cols="12">
        <v-card class="mb-7">
          <CardHeader title="Create Gallery" to="/gallery/post" />
          <v-card-text>
            <v-alert
              class="mb-10"
              color="green"
              type="success"
              v-if="formSuccess"
              >{{ formSuccess }}</v-alert
            >
            <v-alert class="mb-10" color="red" type="error" v-if="formError">{{
              formError
            }}</v-alert>
            <v-form
              method="post"
              @submit.prevent="create"
              v-model="valid"
              ref="form"
              enctype="multipart/form-data"
            >
              <v-text-field
                small
                outlined
                v-model="gallery.title"
                label="Title"
                :rules="[rules.required]"
              ></v-text-field>
              <v-select
                :items="item_category"
                item-text="name"
                item-value="id"
                small
                outlined
                v-model="gallery.id_category"
                label="Category"
                :rules="[rules.required]"
              ></v-select>
              <v-textarea
                outlined
                v-model="gallery.content"
                label="Content"
                :rules="[rules.required]"
              ></v-textarea>
              <v-select
                :items="item_status"
                item-text="text"
                item-value="id"
                small
                outlined
                v-model="gallery.status"
                label="Status"
                :rules="[rules.required]"
              ></v-select>
              <v-file-input
                v-model="gallery.image"
                show-size
                small
                outlined
                accept="image/png, image/jpeg, image/jpg"
                label="Gambar"
                :rules="[rules.required]"
                prepend-icon="mdi-camera"
              ></v-file-input>
              <v-btn dark color="green" block x-large class="mb-5" type="submit"
                >Create</v-btn
              >
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import { STATUS } from '@/utils/constants'
import '@/mixins/general'
export default {
  data() {
    return {
      show1: false,
      valid: true,
      rules: {
        required: (value) => !!value || 'Required.',
      },
      formError: null,
      formSuccess: null,
      gallery: {
        title: null,
        content: null,
        id_category: null,
        image: null,
        status: 1,
      },
      item_category: [],
      item_status: [],
      textFieldProps: {
        outlined: true,
        rules: [(value) => !!value || 'Required.'],
      },
      datePickerProps: {
        color: 'blue',
      },
    }
  },
  computed: {},
  mounted() {
    this.item_status = STATUS
    this.getCategory()
  },
  methods: {
    async getCategory() {
      await this.$store.dispatch('category-gallery/list')
      var response = this.$store.getters['category-gallery/getCategory']
        .category

      this.item_category = response
    },
    async create() {
      try {
        if (this.$refs.form.validate()) {
          this.$nuxt.$loading.start()

          // console.log(this.gallery)

          const formData = new FormData()

          formData.append('title', this.gallery.title)
          formData.append('id_category', this.gallery.id_category)
          formData.append('content', this.gallery.content)
          formData.append('image', this.gallery.image)
          formData.append('status', this.gallery.status)

          await this.$store.dispatch('gallery/create', {
            data: formData,
          })

          const data = this.$store.getters['gallery/getCreate']

          if (data.success === true) {
            this.formError = ''
            this.formSuccess = data.message
            this.gallery.title = null
            this.gallery.id_category = null
            this.gallery.image = null
            this.gallery.content = null
            this.$vuetify.goTo(0)
          } else {
            throw new Error(data.message)
          }

          this.$nuxt.$loading.finish()

          // setTimeout(() => this.$router.push({ path: '/user' }), 3000)
        }
      } catch (e) {
        this.formSuccess = ''
        this.formError = e.message
        this.$vuetify.goTo(0)
        this.$nuxt.$loading.finish()
      }
    },
  },
}
</script>